/*
    Inquisition // Celestial // _content.css

    - styles for main content container
 */

.contentModule {
    margin: 20px auto;
    width: 90%;
}

#contentWrapper {
    height: 100%;
    overflow: auto;
}

#contentWrapper .large.loadingModule {
    margin: 150px auto;
    padding: 24px;
}

#contentWrapper .large.loadingModule p {
    color: #403F4C;
    font-size: 48px;
    letter-spacing: 2px;
    margin-top: 64px;
}

#contentWrapper .large.loadingModule img {
    height: 230px;
}

#contentTitleWrapper {
    background: transparent;
    border-bottom: 2px dotted #25AAE1;
}

#contentTitleWrapper h1 {
    color: #626073;
    font: 44px 'Noto Sans', sans-serif;
    letter-spacing: 5px;
    margin-bottom: 8px;
}

#primaryContentData {
    background: #E8E8E8;
    height: 65%;
    margin-top: 28px;
    max-height: 85%;
    min-height: 25%;
    overflow: auto;
}

.contentTable {
    display: table;
    font: 18px 'Work Sans', sans-serif;
    text-align: center;
    width: 100%;
}

.contentTable .contentRow {
    display: table-row;
}

.contentTable .contentRow:nth-child(even) {
    background: #C8C8C8;
}

.contentTable .contentHeader {
    background: #25AAE1;
    color: #E8E8E8;
}

.contentRow span {
    display: table-cell;
    padding: 8px 2px;
}

.contentTable .contentRow:not(:first-child) {
    font-size: 14px;
}