/*
    Inquisition // Celestial // _content.css

    - styles for main content container
 */

.contentModule {
    margin: 20px auto;
    width: 90%;
}

#contentWrapper {
    height: 100%;
    overflow: auto;
}

#contentWrapper .large.loadingModule {
    margin: 135px auto;
    padding: 24px;
}

#contentWrapper .large.loadingModule p {
    margin-top: 64px;
}

#contentWrapper .large.loadingModule img {
    height: 230px;
}

#contentTitleWrapper {
    background: transparent;
    border-bottom: 2px dotted #25AAE1;
}

#contentTitleWrapper h1 {
    color: #626073;
    font: 44px 'Noto Sans', sans-serif;
    letter-spacing: 5px;
    margin-bottom: 8px;
}

#primaryContentData {
    background: #E8E8E8;
    height: 80%;
    margin-top: 28px;
    max-height: 85%;
    min-height: 25%;
    overflow: auto;
}

.contentTable {
    font: 18px 'Work Sans', sans-serif;
    text-align: center;
    width: 100%;
}

.contentHeader {
    background: #25AAE1;
    color: #E8E8E8;
    font-size: 22px;
}

.contentHeader th {
    padding: 6px;
}

.contentTable td {
    padding: 12px;
}