/*
    Inquisition // Celestial // _content.css

    - styles for main content container
 */

#contentWrapper {
    height: 100%;
    overflow: auto;
}

.contentModule {
    margin: 20px auto;
    width: 90%;
}

/* Options */
.contentOptions {
    text-align: right;
}

.contentOptions span {
    margin: 0 12px;
}

.contentOptions .option {
    color: #DD4D21;
    display: inline;
    padding: 5px;
}

.contentOptions .option:hover {
    border-bottom: 2px solid #25AAE1;
    cursor: pointer;
}

.contentOptions .option.selected {
    background: #DD4D21;
    border-radius: 4px;
    color: #333;
}

/* Loading Module */
.large.loadingModal {
    margin: 135px auto;
    padding: 24px;
}

.large.loadingModal p {
    margin-top: 64px;
}

.large.loadingModal img {
    height: 230px;
}

/* Post-Loaded Content */
#contentTitleWrapper {
    border-bottom: 2px dotted #25AAE1;
}

#contentTitleWrapper h1 {
    color: #626073;
    font-size: 44px;
    letter-spacing: 5px;
    margin-bottom: 8px;
}

#primaryContentData {
    background: #E8E8E8;
    /*height: 80%;*/
    margin-top: 28px;
    /*max-height: 85%;*/
    /*min-height: 25%;*/
    overflow-x: auto;
}

#primaryContentData th {
    text-transform: uppercase;
}