/*
    Inquisition // Celestial // _fonts.css

    - where all font collections are imported for use
 */

@font-face {
    font-family: 'Roboto';
    src: url('/IQ/static/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/IQ/static/fonts/NotoSans-Regular.ttf');
}

@font-face {
    font-family: 'Work Sans';
    src: url('/IQ/static/fonts/WorkSans-Regular.ttf');
}