/*
    Inquisition // Celestial // _footer.css

    - styles used within the footer of pages
 */

footer div {
    background: #DD4D21;
    color: #E8E8E8;
    font: 20px Roboto, sans-serif;
    padding: 40px 0;
    text-align: center;
}

footer a:link {
    color: #E8E8E8;
    padding: 4px;
    text-decoration: none;
}

footer a:visited {
    color: #E8E8E8;
}

footer a:hover {
    border-bottom: 2px solid #25AAE1;
}