/*
    Inquisition // Celestial // _global.css

    - styles used globally across the entire page and/or multiple pages
 */

html, body {
    height: 100%;
    width: 100%;
}

.blockCenter {
    text-align: center;
}

#mainLoadingProgressBar {
    background: #DD4D21;
    display: none;
    height: 2px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

main {
    color: #333;
    height: 100%;
}

.fancyHeading {
    color: #403F4C;
    font: 48px Pacifico, sans-serif;
    letter-spacing: 2px;
}

#mainWrapper {
    height: 100%;
}

a:link {
    color: #25AAE1;
    padding: 2px;
    text-decoration: none;
}

a:visited {
    color: #A33C1D;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid #25AAE1;
}

#loadingContainer {
    height: 100%;
    text-align: center;
}

.loadingModule {
    display: inline-block;
    margin: 0 auto;
}