/*
    Inquisition // Celestial // _global.css

    - styles used globally across the entire page and/or multiple pages
 */

html, body {
    height: 100%;
    width: 100%;
}

.blockCenter {
    text-align: center;
}

.inlineCenter {
    margin: 0 auto;
}

#mainLoadingProgressBar {
    background: #DD4D21;
    display: none;
    height: 2px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

main {
    color: #333;
    height: 100%;
}

.fancyHeading {
    color: #403F4C;
    font: 48px Pacifico, sans-serif;
    letter-spacing: 2px;
}

.title {
    font-family: 'Noto Sans', sans-serif;
}

.subtitle {
    border-bottom: 2px dotted #25AAE1;
    color: #333;
    font-size: 32px;
    letter-spacing: 3px;
    margin: 20px 0;
    padding-bottom: 10px;
}

#mainWrapper {
    height: 100%;
}

.moduleDataWrapper {
    margin: 0 auto;
    padding: 25px;
    width: 95%;
}

a:link {
    color: #25AAE1;
    padding: 2px;
    text-decoration: none;
}

a:visited {
    color: #A33C1D;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid #25AAE1;
}

#loadingContainer {
    height: 100%;
    text-align: center;
}

.loadingModule {
    display: inline-block;
    margin: 0 auto;
}

.heading {
    background: #25AAE1;
    color: #E8E8E8;
    font-size: 26px;
}

.rawVal {
    background: #E5E5E5;
    border: #25AAE1 dashed 2px;
    display: inline;
    font: 12px 'PT Mono', serif;
    padding: 4px;
}

.modalButton {
    color: #333;
    padding: 10px;
}

.modalButton.clear {
    background: #C64923;
}

.modalButton.save {
    background: #1DA800;
}