/*
    Inquisition // Celestial // _header.css

    - header-specific styles
 */

header .headerWrapper {
    background: #E8E8E8;
}

header .headerWrapper #titleLogoWrapper {
    display: inline-block;
}

#titleLogoWrapper img {
    height: 20%;
    vertical-align: middle;
    width: 20%;
}

#titleLogoWrapper a:hover {
    background: none;
}