/*
    Inquisition // Celestial // _nav.css

    - styles for nav menu
 */

nav {
    background: #403F4C;
    float: left;
    height: 100%;
    overflow: hidden;
    width: 80px;
}

.navOption {
    color: #C64923;
    font: 16px Roboto, sans-serif;
    letter-spacing: 2px;
    padding: 24px 0;
    opacity: .85;
    white-space: nowrap;
}

.navOption:hover, .navOption.selected {
    background: #626073;
    font-weight: bold;
    opacity: 1;
    cursor: pointer;
}

.navOption img {
    height: 40px;
    margin: 0 18px;
    vertical-align: middle;
}

#navContainer a {
    padding: 0;
}